/* Footer */

footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.3rem;
        p{
            font-size: 2rem;
            margin-left: 2rem;
        }
    div  {
        img{
            margin-right: 2rem;
        }
        
    }
}